<div *ngIf="!isConnected">
    <div class="card highlight-card card-small">
        <p>BIENVENU SUR SNAPPIES LIVREUR</p>    
    </div>
    
    <!-- Resources -->
    <h2>Identification</h2>
    <p>Veuillez entrez vos identifiants ci-dessous</p>
    
    <!-- Login Form -->
        <div class="login-form">
        <form [formGroup]="commandForm" (ngSubmit)="onSubmit()">
            <label for="username">Nom d'utilisateur:</label>
            <input formControlName="username" type="text" id="username" name="username" required>
        
            <label for="password">Mot de passe:</label>
            <input formControlName="password" type="password" id="password" name="password" required>
        
            <button type="submit">Connexion</button>
        </form>
    </div>
</div>
