.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 100%;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #e3f2fd;
  color: black;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.termin {
  width: 100%;
  height: 1px;
  background-color: #eee;
  margin: 10px 0;
}

.form-container {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

.unit {
  color: #333;
}

.case {
  color: blue;
}

.sep {
  border-bottom: 2px solid #ccc;
}

/* Définir la largeur maximale des tuiles */
.card.highlight-card.card-small {
  max-width: 300px;
}

/* Centrer le texte et le bouton dans les tuiles */
.grid-tile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Ajouté */
}

/* Positionner le bouton supprimer en haut à droite */
.btn.btn-danger {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-left: 10px; /* Ajouté */
}

/* Ajuster la taille des tuiles en fonction de la largeur de l'écran */
@media (max-width: 600px) {
  .card.highlight-card.card-small {
    max-width: 200px;
  }
}
