<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Snappies Livreur</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/61df4d08f2e542577c9b93f7_navbar__img-logo.png"
    />
    <link rel="manifest" href="manifest.webmanifest" />
    <meta name="theme-color" content="#1976d2" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <!-- Menu déroulant pour l'admin-->
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Voir livreurs</button>
        <button mat-menu-item>Voir commandes</button>
        <button mat-menu-item>Voir articles</button>
        <button mat-menu-item>Déconnexion</button>
      </mat-menu>

      <img
        width="40"
        alt="Logo"
        src="../assets/images/61df4d08f2e542577c9b93f7_navbar__img-logo.png"
      />
      <span>Snappies</span>
    </div>

    <!-- Content -->
    <div class="content" role="main">
      <!-- Highlight Card -->
      <div class="card highlight-card card-small">
        <p>Vos articles</p>
      </div>
      <!-- article.component.html -->
      <div class="form-container" [@visibility]="state">
        <h2>Créer un nouvel article</h2>
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Nom de l'article:</label>
            <input type="text" class="form-control" formControlName="nom" />
          </div>
          <div class="form-group">
            <label for="type">Type de vente:</label>
            <select class="form-control" formControlName="type">
              <option value="U">À l'unité</option>
              <option value="C">Par caisse</option>
            </select>
          </div>
          <!-- Ajout d'un input conditionnel selon le type de vente -->
          <div class="form-group" *ngIf="articleForm.get('type')?.value === 'C'">
            <label for="nbArticle">Nombre d'article par caisse:</label>
            <input
              type="number"
              class="form-control"
              formControlName="nbr_articles"
              min="1"
            />
          </div>
          <button type="submit" class="btn btn-success">Créer</button>
        </form>
      </div>

      <div class="container" [@visibility]="state">
        <mat-grid-list cols="3" rowHeight="200px">
          <mat-grid-tile
            *ngFor="let article of articles"
            [routerLink]="['/article', article.article]"
          >
            <div class="grid-tile-content">
              <h3 class="grid-tile-title">{{ article.nom }}</h3>
              <p
                class="grid-tile-text"
                [ngClass]="{ unit: article.type === 'U', case: article.type === 'C' }"
              >
                Type de vente: {{ article.type }}
              </p>
              <button
                type="button"
                class="btn btn-danger"
                (click)="confirmDelete(article)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </body>
</html>
