<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Snappies Livreur</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/61df4d08f2e542577c9b93f7_navbar__img-logo.png"
    />
    <link rel="manifest" href="manifest.webmanifest" />
    <meta name="theme-color" content="#1976d2" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <button mat-button [matMenuTriggerFor]="menuAdmin" *ngIf="isConnected">Menu</button>
    <mat-menu #menuAdmin="matMenu">
      
      <button mat-menu-item routerLink="/tournees">  <!-- *ngIf="isAdmin" -->
        <mat-icon>map</mat-icon>
        <span>Voir les tournées</span>
      </button>
      <button mat-menu-item routerLink="/livreurs">  <!-- *ngIf="isAdmin" -->
        <mat-icon>people</mat-icon>
        <span>Vos livreurs</span>
      </button>
      <button mat-menu-item routerLink="/commandes"> <!-- *ngIf="isAdmin" -->
        <mat-icon>shopping_cart</mat-icon>
        <span>Vos commandes</span>
      </button>
      <button mat-menu-item routerLink="/articles">
        <mat-icon>inventory</mat-icon>
        <span>Vos articles</span>
      </button>
      <button mat-menu-item routerLink="/clients">
        <mat-icon>inventory</mat-icon>
        <span>Clients</span>
      </button>
      <button
        mat-menu-item
        routerLink="/"
        *ngIf="isConnected"
        (click)="disconnect()"
      >
        <mat-icon>logout</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>

      <a routerLink="/">
        <img
          width="40"
          alt="Logo"
          src="../assets/images/61df4d08f2e542577c9b93f7_navbar__img-logo.png"
        />
      </a>
      
      <p>SNAPPIES LIVREUR</p>
    </div>


    <div class="spacer"></div>

    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
