/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

div {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
}

/* Tour Item Styles */
li {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
}

li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='292.4' height='292.4'><path fill='%23333' d='M287 69.4a17.6 17.6 0 0 0-13-5.4H18.4c-5 0-9.3 1.8-12.9 5.4A17.6 17.6 0 0 0 0 82.2c0 5 1.8 9.3 5.4 12.9l128 127.9c3.6 3.6 7.8 5.4 12.8 5.4s9.2-1.8 12.8-5.4L287 95c3.5-3.5 5.4-7.8 5.4-12.8 0-5-1.9-9.2-5.5-12.8z'/></svg>") no-repeat right 10px center;
  background-size: 15px;
}

option {
  padding: 10px;
}

#createtourne{
  font-size: 15px;
  width: 25%;
}

select, button {
  margin-left: 10px;
}

/* Toggle Arrow Styles */
span {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #333 transparent transparent transparent;
  margin-left: 5px;
}

/* Details Section Styles */
li > div:last-child {
  margin-top: 10px;
}

h4 {
  color: #333;
}

/* Article Details Styles */
li > div:last-child ul li div {
  margin-top: 5px;
}

button {
  font-family: sans-serif;
  background-color: green;
  display: block;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.btn.btn-danger {
  background-color: #0f2b01;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  color: #eeeeee;
}
