<div>
  <button
    id="createtourne"
    *ngIf="userIsAdmin"
    [routerLink]="['/tournee/creation']"
  >
    Créer une nouvelle tournée
  </button>
  <br>
  <button
    id="createtourne"
    *ngIf="userIsAdmin"
    (click)="restaurerLivraisons()"
  >
    restaurer les livraison des tournees
  </button>
  <hr />
  <h2>Voici la liste des tournées</h2>

  <!-- Bouton pour créer une nouvelle tournée (visible seulement pour les admins) -->

  <ul>
    <li *ngFor="let tournee of tourneesData">
      <div>
        <!-- Informations sur la tournée -->
        {{ tournee.nom }} - Livreur: {{ tournee.livreur }}

        <!-- Liste déroulante des livreurs (visible seulement pour les admins) -->
        <select *ngIf="userIsAdmin" [(ngModel)]="selectedLivreurId[tournee.id]">
          <option *ngFor="let livreur of livreurs" [value]="livreur.id_user">
            {{ livreur.username }}
          </option>
        </select>

        <!-- Bouton pour assigner la tournée (visible seulement pour les admins) -->
        <button *ngIf="userIsAdmin" (click)="assignerTournee(tournee.id)">Assigner la tournée</button>

        <button *ngIf="userIsAdmin" (click)="deleteTourneeById(tournee.id)" >Supprimer la tournée</button>

        <!-- Bouton pour afficher les commandes -->
        <button (click)="toggleDetails(tournee)">Afficher les commandes</button>

        <!-- Flèche indiquant l'état des détails -->
        <span
          [ngClass]="{
            'arrow-up': tournee.showDetails,
            'arrow-down': !tournee.showDetails
          }"
        ></span>
      </div>
      <div *ngIf="tournee.showDetails">
        <!-- Détails de la tournée -->
        <section
          *ngIf="
            commandesData[tournee.id] && commandesData[tournee.id].length > 0
          "
        >
          <h4>Commandes de la tournée</h4>
          <ul>
            <li *ngFor="let commande of commandesData[tournee.id]">
              <!-- Informations sur le client et son adresse -->
              <strong
                >Nom du client : {{ commande.client }} - Adresse :
                {{ commande.client_adresse }}</strong
              >
              
              <h5>Details de la commande de {{ commande.client }} :</h5>
              <ul>
                <li *ngFor="let article of commande.articles">
                  <div>
                    <!-- Détails de l'article -->
                    <p>Nom de l'article:</p>
                    <strong>{{ article.nom_article }}</strong>
                  </div>

                  <div *ngIf="article.quantite_caisse !== 0">
                    <div>
                      <strong>Nombre de caisses :</strong>
                      {{ article.quantite_caisse }} de ({{article.nombre_articles}})
                    </div>
                  </div>
                  
                  <div *ngIf="article.quantite_unite !== 0">
                    <div>
                      <strong>Quantité par unité:</strong>
                      {{ article.quantite_unite }}
                    </div>
                  </div>
                  
                </li>
              </ul>
              <div>
                <strong>État de livraison :</strong>
                {{ commande.est_livre ? 'Livrée' : 'Non livrée' }}
              </div>
            </li>
          </ul>
        </section>
      </div>
    </li>
  </ul>
</div>
