<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Snappies Livreur</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/61df4d08f2e542577c9b93f7_navbar__img-logo.png"
    />
    <link rel="manifest" href="manifest.webmanifest" />
    <meta name="theme-color" content="#1976d2" />
  </head>
  <body>
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
      <img
        width="40"
        alt="Logo"
        src="../assets/images/61df4d08f2e542577c9b93f7_navbar__img-logo.png"
      />
      <span>Snappies</span>
      <div class="spacer">
        
      </div>
      
      <a class="nav-link" routerLink="/">Accueil</a> <a class="nav-link" routerLink="/tournee">Admin</a>
    </div>

    <!-- Content -->
    <div class="content" role="main">
      <!-- Highlight Card -->
      <div class="card highlight-card card-small">
        <p>BIENVENU SUR SNAPPIES POUR LES LIVREURS</p>
      </div>

      <!-- Resources -->
      <h2>Identification</h2>
      <p>Veuillez entrez vos identifiants ci-dessous</p>

      <!-- Login Form -->
      <div class="login-form">
        <form (ngSubmit)="onSubmit()">
          <label for="username">Nom d'utilisateur:</label>
          <input type="text" id="username" name="username" required />

          <label for="password">Mot de passe:</label>
          <input type="password" id="password" name="password" required />

          <button type="submit">Connexion</button>
        </form>
      </div>

      <!-- <div>
        <p>{{ helloWorldMessage }}</p>
      </div> -->
    </div>
  </body>
</html>
