<!-- livreur-page.component.html -->

<div>
    <h1 class="title">Vos tournées</h1>
    <div ngbAccordion class="divAccordion" [closeOthers]="true">
        <div *ngFor="let tournee of tournees" ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    <strong> {{ tournee.nom }} </strong> 
               
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <!-- Afficher les commandes de la tournée -->
                    <button class = "btn btn-dark" (click)="loadCommandes(tournee.id_tournee)">Afficher les commandes</button>
                    <span [ngClass]="{'arrow-up': tournee.showDetails, 'arrow-down': !tournee.showDetails}"></span>
                    <div *ngIf="tournee.showDetails">
                        <div *ngIf="tournee.commandes && tournee.commandes.length > 0">
                            <ul>
                                <li *ngFor="let commande of tournee.commandes">
                                    <div>
                                        <strong> {{ commande.client.name }} </strong> {{ commande.client.adresse }} 
                                        <!-- Condition pour afficher le bouton uniquement si est_livre est false -->
                                        <button class="btn btn-dark" *ngIf="!commande.est_livre" (click)="marquerCommeLivre(commande.id_commande)">Marquer comme livrée</button>
                                    </div>

                                    <div>
                                        
                                        <ul>
                                            <li *ngFor="let article of commande.articles">
                                                {{ article.nom_article }} - {{ article.nombre_articles }} articles
                                            </li>
                                        </ul>
                                        <div [ngStyle]="{'color': commande.est_livre ? 'green' : 'orange'}">
                                             <strong>{{ commande.est_livre ? 'Livrée' : 'Non livrée' }} </strong>
                                           </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
