<!-- create-client.component.html -->

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <form (ngSubmit)="createClient()" class="p-3">
        <div class="mb-3">
          <label for="nom" class="form-label"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 8a4 4 0 0 1 8 0v3.755C9.146 12.216 7.623 13 6 13c-1.623 0-3.146-.784-4-2.245V8zm4-6a3 3 0 1 0 0 6 3 3 0 0 0 0-6z"/>
          </svg> Nom :</label>
          <input type="text" id="nom" [(ngModel)]="clientName" name="clientName" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="adresse" class="form-label"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg> Adresse :</label>
          <textarea rows="5" id="adresse" [(ngModel)]="clientAdresse" name="adresse" class="form-control" required></textarea>
        </div>
        <div class="mb-3">
          <label for="telephone" class="form-label"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg> Téléphone :</label>
          <input type="tel" id="telephone" [(ngModel)]="clientTelephone" name="telephone" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Créer </button>
      </form>
    </div>
  </div>
</div>
