.divAccordion {
    width: 100%; /* Ajuste la largeur à 100% de la largeur de l'écran */
}

.title {
    text-align: center;
    margin: 20px 10px; /* Ajuste la marge pour une meilleure apparence sur les petits écrans */
}

.article-container {
    display: flex;
    flex-direction: column; /* Ajuste la direction de la colonne pour un meilleur empilement sur les petits écrans */
    justify-content: space-between;
    margin: 10px;
    padding: 8px;
    border-top: 1px solid #ccc;
}

.article-container p {
    margin: 0;
}

.numberInput {
    width: 100%; /* Ajuste la largeur à 100% pour occuper toute la largeur disponible */
    margin-bottom: 10px; /* Ajoute une marge en bas pour l'espace entre les éléments */
}

.tourneeContainer {
    text-align: center;
    margin-bottom: 20px; /* Ajuste la marge inférieure pour une meilleure apparence */
}

.divAjoutArticle {
    display: flex;
    flex-direction: column; /* Ajuste la direction de la colonne pour un meilleur empilement sur les petits écrans */
    justify-content: space-between;
    margin: 10px;
    padding: 8px;
    border-top: 1px solid #ccc;
}

button {
    font-family: sans-serif;
    background-color: green;
    display: block;
    width: 100%; /* Ajuste la largeur à 100% pour occuper toute la largeur disponible */
    text-align: center;
    margin: 10px auto; /* Ajuste la marge pour une meilleure apparence */
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
