<div class="commandListContainer">
    <button btn btn-success routerLink="/nouvelleCommande">Créer une commande</button>
    <h1 class="title">Commands</h1>
    <div class="tourneeContainer">
        <p>Tournée:</p>
        <select required (change)="onTourneeChange($event)">
            <option selected disabled>choisir tournée</option>
            <option *ngFor="let tournee of tournees" value="{{ tournee.id }}">{{ tournee.nom }}</option>
        </select>
    </div>
    <div ngbAccordion class="divAccordion" [closeOthers]="true">
        <div *ngFor="let command of commands " ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Client : {{ command.client }}</button>
            </h2>
            <div ngbAccordionCollapse>
                <button *ngIf="mapIsBeingModified.get(command.id_commande) == false;" (click)="setToUpdate(command)">modifier</button>
                <div *ngIf="mapIsBeingModified.get(command.id_commande) == true;">
                    <button (click)="cancelUpdate(command.id_commande)">Annuler</button>
                    <button (click)="validateUpdate(command)">Valider</button>
                </div>
                <div ngbAccordionBody>
                    <ng-template>
                        <div *ngFor="let article of command.articles" class="article-container">
                            <p>{{ article.nom_article }}</p>
                            <div *ngIf="mapIsBeingModified.get(command.id_commande) == false;">
                                <p *ngIf="article.quantite_caisse != 0">{{ article.quantite_caisse }} caisses</p>
                                <p *ngIf="article.quantite_unite != 0">{{ article.quantite_unite }} unites</p>
                            </div>
                            <div *ngIf="mapIsBeingModified.get(command.id_commande) == true;">
                                <div *ngIf="article.quantite_unite != 0">
                                    <input value="{{ article.quantite_unite }}" required type="number" class="numberInput" id="nbArticles{{ article.id_article }}" name="nbArticles"/>unités
                                    <input value="{{ article | json }}" id="article{{ article.id_article }}" type=hidden/>
                                </div>
                                <div *ngIf="article.quantite_caisse!= 0">
                                    <input value="{{ article.quantite_caisse }}" required type="number" class="numberInput" id="nbArticles{{ article.id_article }}" name="nbArticles"/>caisses
                                    <input value="{{ article | json }}" id="article{{ article.id_article }}" type=hidden/>
                                </div>
                                supprimer <input type="checkbox" id="isDeleted{{ article.id_article }}">
                            </div>
                        </div>
                        <div *ngIf="mapIsBeingModified.get(command.id_commande) == true;">
                            <div *ngFor="let select of nbSelects; let i = index">
                                <select required id="articleSelect{{i}}">
                                    <option *ngFor="let article of articles" value="{{ article | json }}">{{ article.nom }} ({{ article.type }})</option>
                                </select>
                                <input required type="number" class="numberInput" id="nbArticlesAdd{{i}}" name="nbArticles"/>
                            </div>
                            <button (click)="ajouter1SelectArticle()">ajouter un article</button>
                            <button *ngIf="nbSelects.length > 0" (click)="enlever1SelectArticle()">retirer un article</button>
                        </div>
                        <div *ngIf="mapIsBeingModified.get(command.id_commande) == true;">
                            <div *ngIf="command.est_livre">
                                <p>La commande est déjà livrée, le changement sera donc permanent</p>
                            </div>
                            <div *ngIf="!command.est_livre">
                                Rendre le changement permnanent <input type="checkbox" id="isPermanent">
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
