.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  button {
    font-family: sans-serif;
    background-color: green;
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .livreurs {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .livreur {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s;
  }
  
  .livreur:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .livreur h3 {
    color: #333;
    margin: 0;
    font-size: 18px;
  }
  
  /* Ajoutez des styles supplémentaires selon vos préférences */
  