<!-- livreur-creation.component.html -->

<div class="createLivreurFormDiv">
    <h2>Création de livreur</h2>
    <form (ngSubmit)="createLivreur()">
      <label class="createLivreurFormLabel" for="username">Nom d'utilisateur :</label>
      <input class="createLivreurFormInput" type="text" id="username" [(ngModel)]="livreurUsername" name="username" required>
  
      <label id="createLivreurPasswordLabel" class="createLivreurFormLabel" for="password">Mot de passe :</label>
      <input id="createLivreurPasswordInput" class="createLivreurFormInput" type="password" id="password" [(ngModel)]="livreurPassword" name="password" required>
  
      <button class="createLivreurFormSubmitButton" type="submit">Créer le livreur</button>
    </form>
  </div>
  