<!-- livreur-creation.component.html -->

<div class="form-container">
  <h2><strong>Compléter le champs ci-dessous</strong></h2>
  <form (ngSubmit)="createLivreur()">
    <div class="form-group">
      <label for="username">Nom d'utilisateur :</label>
      <input placeholder="Entrez un pseudo" class="createLivreurFormInput" type="text" id="username" [(ngModel)]="livreurUsername" name="username" required>
    </div>
    <div class="form-group">
      <label id="createLivreurPasswordLabel"  for="password">Mot de passe :</label>
      <input placeholder="Entrez un mot de passe" id="createLivreurPasswordInput" class="createLivreurFormInput" type="password" id="password" [(ngModel)]="livreurPassword" name="password" required>
    </div>
    <button class="btn btn-success" type="submit">Créer un compte</button>
  </form>
</div>
  